body
{
  font-family: sans-serif;
}

h1
{
  color: blue;
}

#contact
{
  font-weight: bold;
}

#picture
{
  width: 45%;
}

h2
{
  margin: 0;
  text-align: center;
  background-color: lightgray;
  font-variant: small-caps;
  letter-spacing: 2px;
  color:purple;
  font-size: 15px;
}

#now
{
  font-size: x-small;
}

/*#educationTable {*/
  /*border:1px solid black;*/
  /*width: 100%;*/
/*}*/
/*#educationTable th, #educationTable td{*/
  /*!*border:1px solid black;*!*/
  /*padding: 15px;*/
/*}*/

#myPortrait {
  width: 200px;
}
